#kitchenDiv {
	margin : 0 auto;
	width  : 1024px;
	height : 650px;
}

#kitchenCanvas {
	position : relative;
	z-index  : 1;
	border   : 1px solid black;
}

#video {
	z-index          : 0;
	margin-top       : -597px;
	margin-left      : 82px;
	width            : 129px;
	height           : 80px;
	background-color : #1F1F1F;
}

#video video {
	display    : block;
	margin     : auto;
	max-height : 80px;
}

#wow {
	background-image  : url("../images/menu/wow.png");
	background-repeat : no-repeat;
	height            : 600px;
	background-size   : 100%;
	width             : 600px;
	z-index           : 3;
	position          : relative;
	margin            : auto;
	margin-top        : -100px;
}

#back {
	width            : 124px;
	height           : 85px;
	position         : absolute;
	margin-left      : 105px;
	margin-top       : 361px;
	background-image : url("../images/menu/back.png");
}

#back:hover {
	background-image : url("../images/menu/backGlow.png");
}

#finished {
	position    : absolute;
	width       : 119px;
	height      : 64px;
	margin-top  : 327px;
	margin-left : 240px;

}

#speechBubble {
	position    : relative;
	z-index     : 2;
	margin-top  : -122px;
	margin-left : 405px;
	padding     : 0.5em;
	width       : 250px;
	height      : 94px;
}

#startUpDiv {
	position              : fixed;
	top                   : 0;
	left                  : 0;
	z-index               : 50;
	width                 : 100% !important;
	height                : 100% !important;
	background            : rgba(0, 0, 0, 0.45);
	cursor                : default;
	-webkit-touch-callout : none;
	-webkit-user-select   : none;
	-khtml-user-select    : none;
	-moz-user-select      : none;
	-ms-user-select       : none;
	user-select           : none;
}

#noteGroundDiv {
	margin           : 1em auto;
	padding-top      : 50px;
	width            : 420px; /* height minus 50 px for the padding */
	height           : 512px;
	background-image : url("../images/menu/paper.png");
	background-size  : 420px, auto;
}

#scrollDiv {
	overflow-y : auto; /* try and error -_- */
	height     : 503px;
}

#menuDiv {
	display     : block;
	padding     : 1.5em;
	padding-top : 0;
}

#menuDiv img {
	width  : 80px;
	cursor : pointer;
}

#backImage {
	float : left;
}

#startImage {
	float : right;
}

#allRecipesDiv {
	padding     : 1em;
	padding-top : 0;
}

#allRecipesDiv h1 {
	margin : 0;
}

#allRecipesDiv ul {
	margin       : 0;
	padding      : 0;
	padding-left : 0.25em;
	list-style   : none;
}

.oneRecipeDiv {
	margin-top : 0.5em;
	/*border     : 2px #9C9C9C solid;*/
	cursor     : pointer;
}

div.oneRecipeDiv:hover span {
	/*border : 2px #4D9C48 solid;*/
	color       : #2C5A29;
	text-shadow : 0 0 2px #FFFFFF;
}

.oneRecipeDiv img {
	margin-right   : 0.5em;
	width          : 80px;
	vertical-align : middle;
}

.recipeDifficulty {
	margin-left : 0.5em !important;
	height      : 18px !important;
}

#recipeDetails {
	padding     : 1.5em;
	padding-top : 0;
}

#recipeDetails h1 {
	margin     : 0;
	text-align : center;
}

#recipeDetails img {
	display      : block;
	margin-right : auto;
	margin-left  : auto;
	height       : 22px;
}

#recipeDetails p {
	margin-top : 1.8em;
}

#recipeDetails p img {
	float      : left;
	margin     : 1em;
	margin-top : 0;
	height     : 64px;
	width      : 119px;
}